<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646765496564-4sp6orrnsbvnecdqj10dmtnghflbt0ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646765496564-4sp6orrnsbvnecdqj10dmtnghflbt0ai</string>
	<key>API_KEY</key>
	<string>AIzaSyAb42XDr214Htcy5l7opRbCiAJf7Y9X9NU</string>
	<key>GCM_SENDER_ID</key>
	<string>646765496564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.okazyonMobile</string>
	<key>PROJECT_ID</key>
	<string>okazyon-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>okazyon-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646765496564:ios:ff63d04e63d8dd631036a1</string>
</dict>
</plist>